# Bu faylni nusxa oling: cp .env.example .env
# So'ng .env faylini o'z ma'lumotlaringiz bilan to'ldiring

# 1. @BotFather dan oling
LOVE_BOT_TOKEN=8318411292:AAEQyfUEe5dqaAg5IvZJBxr2Lsd88XRLass

# 2. /id komandasini botga yuboring va chiqgan raqamni yozing
LOVER_CHAT_ID=987654321
